body{
    background-color: blueviolet;
    padding: 100px;
}
.text-center{
    color: palegreen;
    font-style: italic;
    font-weight: bold;
}
.bg-change{
    background-color: tomato;
}
.submit-area{
     background-color: tomato;
    padding: 40px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
}
#transaction-area{
    display: none;
}
.status{
    margin: 0 20px;
    color:white;
    border-radius: 10px;
    padding: 20px;
}
.deposit{
    background-color: hotpink;
   
}
.withdraw{
    background-color: red;
    
}
.balance{
    background-color: greenyellow;
    
}